.cd-alert {
  font-size: 14px;
  line-height: 1;
  border-radius: 4px;
  padding: 16px;
  margin-bottom: 24px;
  font-weight: 500;
  opacity: 1;
  .cd-transition();
  &.cd-hide {
    opacity: 0;
    display: block;
    .cd-transition();
  }
  &.cd-alert-warning {
    color: #ffa51f;
    background: #fff6e9;
  }
  &.cd-alert-info {
    color: #278bf5;
    background: #e9f3fe;
  }
  &.cd-alert-success {
    color: #43bc60;
    background: #ecf8ef;
  }
  &.cd-alert-danger {
    color: #ed3e3e;
    background: #fdecec;
  }
  .close {
    float: right;
    font-weight: bold;
    color: @cd-dark-assist;
    .cd-transition;
    &:hover {
      .cd-hover-light;
      .cd-transition;
    }
    &:focus {
      outline: none;
    }
    i {
      font-size: 14px;
    }
  }
}