.cd-avatar {
  border-radius: 50%;
  width: 80px;
  width: 80px;
  padding: 3px;
  background: @cd-bg-light;
  display: block;
  .cd-transition;
  &.cd-avatar-square {
    border-radius: 4px;
  }
  &.cd-avatar-xs {
    width: 32px;
    height: 32px;
    padding: 2px;
  }
  &.cd-avatar-sm {
    width: 48px;
    height: 48px;
    padding: 2px;
  }
  &.cd-avatar-lg {
    width: 128px;
    height: 128px;
    padding: 4px;
  }
  &:hover {
    .cd-transition;
    .cd-box-shadow-z(4px);
  }
}