.cd-progress {
  position: relative;
  margin-bottom: 24px;
  &.cd-progress-sm {
    .progress-inner {
      height: 4px;
    }
  }
  &.cd-progress-lg {
    .progress-inner {
      height: 12px;
    }
  }
  &.cd-progress-success {
    .progress-inner {
      background-color: @brand-success;
    }
  }
  &.cd-progress-info {
    .progress-inner {
      background-color: @brand-info;
    }
  }
  &.cd-progress-danger {
    .progress-inner {
      background-color: @brand-danger;
    }
  }
  &.cd-progress-warning {
    .progress-inner {
      background-color: @brand-warning;
    }
  }
  .progress-bar {
    box-sizing: border-box;
    display: inline-block;
    width: 100%;
    padding-right: 40px;
    margin-right: -40px;
  }
  .progress-outer {
    width: 100%;
    display: inline-block;
    background-color: rgba(0, 0, 0, .08);
    .cd-border-radius(6px);
  }
  .progress-inner {
    width: 0%;
    height: 8px;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    .cd-border-radius(6px);
    -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    -webkit-transition: width 0.6s ease;
    -o-transition: width 0.6s ease;
    transition: width 0.6s ease;
  }
  .progress-text {
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    margin-left: 4px;
    text-align: left;
    font-size: 12px;
    line-height: 1;
    color: @cd-dark-minor;
  }
}
