.cd-select {
  position: relative;
  .form-control {
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
  }
  &:after {
    position: absolute;
    top: 8px;
    right: -4px;
    content: '\e979';
    font-family: 'codeages-icon';
    font-size: 14px;
  }
}