.loop-base-columns(@index) when (@index > 0) {
  .col-xs-@{index},
  .col-sm-@{index},
  .col-md-@{index},
  .col-lg-@{index} {
    position: relative;
    min-height: 1px;
    padding-left: 12px;
    padding-right: 12px;
  }
  .loop-base-columns(@index - 1);
}

.loop-float-columns(@class, @index) when (@index > 0) {
  .col-@{class}-@{index} {
    float: left;
    width: percentage(@index / @grid-columns);
  }
  .loop-float-columns(@class, @index - 1);
}